/* CSS Document */
.content .searchmenu .profileTab .ss{
border-top: medium none; 
border-right: medium none;
 border-left: medium none;
 padding: 0px 10px;
 }
.content .searchmenu { 
background-color:#E8E8E8 ; 


 }

